<h1 style="color:#202020; display:block; font-family:Arial; font-size:22px; font-weight:bold; line-height:100%; margin-top:0; margin-right:0; margin-bottom:10px; margin-left:0; text-align:left;">
  Your challenge match was canceled.
</h1>
  
The challenger, <%= "#{@challenger_name}" %>, has canceled the challenge match.

<br>
  You are now free to challenge someone else or someone else can challenge you.
<br><br>
Thanks for participating!