<h2>Your challenge match was canceled.</h2>
<p class="lead">The challenger, <%= @challenger_name %>, has canceled the challenge match.</p>
<p>You are now free to challenge someone else or someone else can challenge you.</p>
<p>Thanks for participating!</p>