<% content_for :title do %>
	Official Ladder Rules
<% end %>

<div class="container">
	<iframe style="width:100%;height:600px;border:solid 1px #ccc;" src="https://docs.google.com/document/d/1LEIezCw8xny2eNJ81cy0MmhYx4g92Ja0dPyWt6eubgU/pub?embedded=true"></iframe>
</div> <!-- /container -->