<% new_players.each do |new_player| %>
	<% if new_player.id == current_player.id %>
		<tr class="info">
	<% else %>
		<tr>
	<% end %>
		<td><%= new_player.name %></td>
		<td><%= new_player.created_at.to_date.to_formatted_s(:short) %></td>
	</tr>
<% end %>