<div class="row">
	<div class="col-sm-8 col-sm-offset-0 col-md-6 col-md-offset-1">
		<% if @show_onboarding_message %>
			<h2>Building Initial Ladder</h2>
			<hr>
			<p>Currently we are still waiting for more players to get on board. You can see all the players that signed up so far on the right. If you know anyone that would like to participate and is not on the list, ask them to sign up.</p>
			<p>As soon as we have enough players signed up, we are going to establish initial rankings and then the challenges can begin. We will send you an email when it's time to get the ladder going.</p>
		<% else %>
			<h2>Current Ladder Rankings</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Rank</th>
						<th>Player</th>
						<th>&nbsp;</th>
						<th>Active Challenges</th>
					</tr>
				</thead>
				<tbody>
					<%= render @players %>
				</tbody>
			</table>
		<% end %>
	</div>
	<div class="visible-xs"><hr></div>
	<div class="col-sm-4 col-md-4">
		<h2>New Players</h2>
		<% unless @new_players.empty? %>
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Joined</th>
					</tr>
				</thead>
				<tbody>
					<%= render partial: "/players/new_player", object: @new_players, as: "new_players" %>
				</tbody>
			</table>
		<% else %>
			<p class="no-records">Currently there are no new players that joined the ladder.</p>
		<% end %>
	</div>
</div>