<div class="row">
	<div class="span8 offset2">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Rank</th>
					<th>Player</th>
				</tr>
			</thead>
			<tbody>
				<%= render @players %>
			</tbody>
		</table>
	</div>
</div>