<p>Welcome to LECOM Ladder!</p>

<p>Thank you for signing up.</p>

<p>Before you can start participating, you need to confirm your account email using the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>
