<p>Hello <%= @resource.first_name %>!</p>

<p>Someone has requested to reset your password for the LECOM Ladder website.</p>

<p><strong>If you don't know anything about this, simply ignore this email. Nothing will change.</strong></p>

<p>Otherwise, the link below will take you through the process of getting a new password.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><strong>IMPORTANT:</strong> Your password won't change until you follow the link above and create a new one.</p>
