<!DOCTYPE html>
<html lang="en">
<%= render 'layouts/head' %>
<body>
	<%= render 'layouts/toolbar' %>
	<div class="container">
		<%= render 'layouts/notice_alert' %>
		<%= yield %>
	</div>
	<footer class="footer">
		<div class="container">
			<ul class="footer-links">
				<li><a href="/rules">Official Ladder Rules</a></li>
			</ul>
			<p><small>Designed, built and maintained by <a href="mailto:ohlincik+ladder@gmail.com">Oto Hlincik</a>.</small></p>
		</div>
	</footer>
</body>
</html>
